/__pycache__/
./venv/
*.pyc
.DS_Store
./app/__pycache__/
./app/venv/
logs/ipo_tracker.log
app/__pycache__/main.cpython-312.pyc
__pycache__/fallback_app.cpython-312.pyc
app/__pycache__/main.cpython-312.pyc
app/models/__init__.py
app/services/__init__.py
app/utils/__init__.py
data/current_ipos_2025-09-27.json
data/*.json
geminiai-collection.json
app/__pycache__/main.cpython-312.pyc
